<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Totally original website</h2>
    <h3>Ransome Corporation</h3>
    <a href="/smoothies" class="btn">Let's go</a>
  </div>
</header>


<%- include('partials/footer'); -%>